.navbar {
    background-color: #006636;
}

.navbar2 {
    background-color: gray;
}

.navbarW {
    background-color: white;
}

.separador {
    height: 30px;          
    background-color: white;
}